---
import "../assets/style/global.css";
import Carousel from "../components/Carousel.astro";
import Nav from "../components/Nav.astro";
// import 'tw-elements';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href={Astro.resolve("../assets/style/global.css")}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
<script src="https://cdn.tailwindcss.com"></script>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
      <Nav title="Nav"/>
		</header>
		<main class="bg-black">
			<section>
			</section>
      <div class="min-h-720">
        <Carousel title="Carousel-main"/>
      </div>
			<section>
				<!--Announcements -->
			</section>
			<section>
				<!--Shop -->
				<!--Sign up -->
				<!--Trending -->
			</section>
			<section>
				<!--Topics -->
			</section>
			<section>
				<!--Blog Articles -->
			</section>
			<section>
				<!--Affiliate Links (Books $ services) -->
			</section>
		</main>
		<footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
	</body>
</html>





