---
import avatar from "../assets/images/pharoh.jpg"
---

<div class="px-8 py-8 mt-3 text-gray-500 rounded-2x1 bg-slate-800">
    <div class="flex flex-wrap items-start gap-3 sm:flex-nowrap sm:gap-6">
        <div class="relative flex-shrink-0 w-24 h-24 mt-1">
            <img alt="Author Photo" class="rounded-full" width="96" height="96" src={avatar} loading="eager" decoding="async">
        </div>
        <div class=" font-medium text-white text-center my-5 mx-6">
            <p>About<br/><span class="text-blue-700">Jay</span> White</p>
        </div>
        <div class="text-white w-96 text-center">
            <p>Jay White is a Certified Web Developer and Software Engineer. He enjoys learning and using new technologies. A.I image generation and A.I generated blog articles used to create this site.</p>
        </div>
    </div>
</div>