---
import image from '../assets/images/pharoh.jpg'
import avatar from '../assets/images/pharoh.jpg'
const {image} = Astro.props;
---

<a class="hover:translate-y-1 scale-150 mx-24 mt-24 ">
    <div class="relative  rounded-md w-96 h-96 flex flex-col">
        <div class="aspect-w-3 aspect-h-2 flex flex-col items-center hover:brightness-125 hover:scale-105">
            <img class="h-auto max-h-48 w-full rounded" src={image} alt="Image post" loading="lazy">
        </div>
        <div class="px-3 pt-4 pb-6 my-1 text-gray-400">
            <h2 class="text-md font-semibold text-teal-400 "> LifeStyle</h2>
            <div class="mt-2 text-xl font-bold">
                Clickbait Title for the Article
            </div>
            <div class="mt-1 text-xs flex flex-row justify-end items-end">
                Jan 26, 2023
                <img
            src={avatar}
            class="rounded-full ml-4"
            style="height: 25px; width: 25px"
            alt=""
            loading="lazy"
          />
           </div>
        </div>
    </div>
</a>
