---
import Nav from "../components/Nav.astro";
import Foot from "../components/Foot.astro";

---

		<header class="w-full">
      <Nav title="Nav"/>
		</header>
		<main class="bg-black">
			<section>
                <slot/>
            </section>
        </main>
        <Foot/>

